/* Regole generali */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container {
    max-width: 1825px;
    margin: 0px auto;
}

/* Header */
.main-header {
    background-color: black;
    text-align: right;
    padding: 5px;
}

/* View */
.view {
    padding: 5px;
}

/* Span header */
.view span {
    background-color: #4A4A4A;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
}

/* Main */
.main-content {
    background-color: black;
    padding: 50px 0px;
}

/* Riga */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Colonna */
.col-2 {
    flex-basis: calc( 100% * (2 / 14) );
    height: 150px;
    width: 250px;
    position: relative;
}

/* Immagine profilo */
.user-image img {
    height: 100%;
    width: 100%;
}

/* Informazioni utente */
.user-info {
    background: rgba(142, 131, 131, 0.5);
    padding: 5px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

/* Footer */
.page-footer {
    background-color: #222222;
    display: flex;
    justify-content: space-between;
}

.audio-video {
    width: 150px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.actions {
    width: 500px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.icon span {
    font-size: 28px;
    text-align: center;
}

.option-name span {
    font-size: 14px;
}

/* DEBUG */

.debug .container {
    border: 1px dashed white;
}

.debug .row {
    border: 1px solid red;
}

.debug .col-2 {
    border: 1px dashed aqua;
}

.debug .audio-video {
    border: 1px solid aquamarine;
}

.debug .actions {
    border: 1px solid tomato
}

.debug .end-meeting {
    border: 1px solid fuchsia;
}